//body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
//}    
SCSS
html, body {
    background-color: #ffffff !important;
    color: #1a202c !important;
    }

    /* Barva odkazů a textu */
    a, .internal-link {
    color: #2b6cb0 !important;
    }

    /* Levý panel stromu souborů */
    .filetree-sidebar {
    background-color: #f7fafc !important;
    display: block !important;
}




    
}
